@page {
  size: A4;
  margin: 0;
}
@media print {
  body, html, page {
    margin: 0;
    box-shadow: none;
    size: A4;
    padding: 0;
    
  }
}
* {
  box-sizing: border-box;
}
@font-face { font-family: 'Trebuchet'; src: url('./trebuc.ttf') }
@font-face { font-family: 'Trebuchet MS italic'; src: url('./Trebuchet-MS-Italic.ttf') }
:root {
  --COL1: 40%;
  --ROW1: 30%;
  --BLACK: #343b30;
  --LEFT-COLUMN-MARGIN: 2.8rem;
  --TOP-MARGIN: 2rem;
  --BULLET-POINT-FONT-SIZE: 10px;
  --LIST-FONT-SIZE: 16px;
  --PARAGRAPH-FONT-SIZE: 12px;

  --color-tl: hsl(203,73%,75%);
  --color-bl: hsl(204,76%,90%);
  --color-tr: hsl(202,70%,95%);
  --color-br: hsl(255);

  /* these are favourites */
  /* --color-bl: hsl(46,100%,78%);
  --color-tl: hsl(215,81%,79%);
  --color-tr: hsl(28,86%,80%);
  --color-br: hsl(193,70%,82%); */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet', 'PT sans', 'Oswald';
  color: var(--BLACK);
}

page {
  width: 210mm;
  height: 297mm;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  overflow: hidden;
}
.top-left {
  width: var(--COL1);
  height: var(--ROW1);
  background-color: var(--color-tl);
  color: var(--BLACK);

  & .tl-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: var(--LEFT-COLUMN-MARGIN);
    word-break: break-all;
    margin-top: var(--TOP-MARGIN);

    & header h1 {
      font-size: 40px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 1rem;
      letter-spacing: 2px;
    }
  
    & .small-line {
      border-bottom: 1px solid black;
      width: 35px;
      margin-bottom: 5px;
    }
    & .icons {
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      margin-top: 0.5rem;

      & .icon  {
        display: block;
        background-color: white;
        border-radius: 50%;
        padding: 6px;
        aspect-ratio: 1/1;
        height: 100%;
        margin-right: 1rem;
      }
      & .icon-text {
        font-size: 13px;
      }
    }
  }
}








.bottom-left{
  width: var(--COL1);
  height: calc(100% - var(--ROW1));
  background-color: var(--color-bl);

  & .bl-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: var(--LEFT-COLUMN-MARGIN);
    margin-top: var(--TOP-MARGIN);
  }
  & .skills {
    font-size: 20px;
    padding-bottom: 0.4rem;
  }
  & .skills-list {
    padding-bottom: 2rem;

    & li {
      margin: 0 0 0 0.8rem;
      font-size: var(--BULLET-POINT-FONT-SIZE);

      & span {
        font-size: var(--LIST-FONT-SIZE);
        margin-left: 0.5rem;
        letter-spacing: 0.7px;
      }
    }
  }
  & .skills-education {

    & .p-spacer {
      padding-bottom: 1rem;
    }
    & .p-bold {
      font-weight: 700;

      & span {
        font-family: 'Trebuchet MS italic';
      }
    }
  }

}











.top-right{
  width: calc(100% - var(--COL1));
  height: var(--ROW1);
  background-color: var(--color-tr);

  & .tr-box {
    width: 100%;
    height: 100%;
    padding-left: var(--LEFT-COLUMN-MARGIN);
    word-break: break-all;
    /* margin-top: var(--TOP-MARGIN); */
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .skills {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    & .tr-p {
      text-justify:distribute;
      word-break: keep-all;
      padding-right: 1rem;
    }
  }
}








.bottom-right{
  width: calc(100% - var(--COL1));
  height: calc(100% - var(--ROW1));
  background-color: var(--color-br);

  & .br-container {
    width: calc(100% - var(--LEFT-COLUMN-MARGIN));
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: var(--LEFT-COLUMN-MARGIN);
    margin-top: var(--TOP-MARGIN);
    padding-right: 2rem;
  }
  
  & .skills {
    font-size: 20px;
    padding-bottom: 1rem;
  }
  & .br-title {
    font-weight: 900;
  }
  & .date {
    padding-bottom: 1rem;
    font-family: 'Trebuchet MS italic';
    font-size: var(--PARAGRAPH-FONT-SIZE)
  }
  & .skills-list {
    padding-bottom: 2rem;

    & .br-list {
      margin: 0 0 0 0.8rem;
      font-size: var(--BULLET-POINT-FONT-SIZE);
      white-space: pre-wrap;
      line-height: 14px;

      & span {
        font-size: var(--PARAGRAPH-FONT-SIZE);
        text-justify: inter-word;

      }
      & .br-link {
        font-size: var(--LIST-FONT-SIZE);
      }
    }
  }
}
